$boxShadowBlack: 0 0 10px black;
$listItemTitleFont: 0.8em;
$borderRadiusPrimary: 3px;

@mixin scrollbarLayout {
  &::-webkit-scrollbar {
    height: 8px !important;
    width: 8px !important;
    background-color: $greyC !important;
    border-radius: 0 $borderRadiusPrimary $borderRadiusPrimary 0;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px !important;
    background-color: $greyB !important;
    border-radius: 3px;
  }
}
@mixin listContainer {
  @include scrollbarLayout;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: $borderRadiusPrimary;
  padding: 0 10px;
  background-color: $greyC;
  position: relative;
}
@mixin listContainerActive {
  transition: 0.2s ease;
}
@mixin listContainerTitle {
  position: sticky;
  top: 0px;
  padding: 5px;
  z-index: 1;
  background-color: $greyC;
}
@mixin listContainerBottom {
  position: sticky;
  bottom: 0px;
  padding: 8px 0;
  z-index: 1;
  background-color: $greyC;
  border-radius: 0 0 $borderRadiusPrimary $borderRadiusPrimary;
}
@mixin listItem {
  display: flex;
  padding: 6px 12px;
  margin: 5px 0;
  border-radius: $borderRadiusPrimary;
  background-color: $greyB;
  &:hover {
    background-color: $greyBHover;
    transition: 0.2s ease;
  }
}
@mixin listItemDrag {
  box-shadow: $boxShadowBlack;
}
@mixin listItemTitle {
  font-size: $listItemTitleFont;
  flex: 1;
}
@mixin listIcon {
  margin-left: 30px;
  font-size: 15px;
  cursor: pointer;
  &:hover {
    transition: 0.2s ease;
    transform: rotate(25deg);
  }
}
