@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.listContainer {
  @include listContainer;
}
.listContainerActive {
  @include listContainerActive;
}
.listContainerTitle {
  @include listContainerTitle;
}
.listItem {
  @include listItem;
}
.listItemDrag {
  @include listItemDrag;
}
.listItemTitle {
  @include listItemTitle;
  text-transform: capitalize;
}
.listIcon {
  @include listIcon;
}
.gridLeftDown {
  grid-area: gridLeftDown;
}
.gridRight {
  grid-area: gridRight;
}
